* {
	padding: 0;
	margin:auto;
}

body {
	background-image:url(../images/bg.jpg);
	background-color: #A8A49B;
	margin:0;
	padding:0;
	height:100%;
	background-size:100%;
}

#Logo {
	width: 200px;
	padding-top:7.5%;
}

.logo {
		opacity:0.85;	
}

.logo:hover {
	opacity:1;
}

#Search {
	width: 200px;
	height: 333px;
	padding-top: 5%;
}

#f {
	background-color: #f5f6f7;
}

#q {
	font-family: 'Roboto Slab', serif;
	color: rgb(0, 0, 0, 0.8);
	font-size: 12px;
	border: none;
	background-color: #fff;
	height: 22px;
	width: 188px;
	border-radius: 5px;
	outline: 0 none;
	padding: 6px;
	opacity: 0.55;
}

/*=======================================
               Menu
=========================================*/

#Menu {
	Width: 100px;
	Height: 100%;
	background-color: #f5f6f7;
	opacity: 0.55;
	left:0px;
	top: 0px;
	position:absolute;
	display:none;
}

ul {
    list-style-type: none;
	text-decoration:none;
	color: rgba(250,250,250,0.8);
	left:10px;
	top:10px;
	position:absolute;
}

li {
	
	float:left;
	font-family: 'Roboto Slab', serif;
	font: 'Roboto Slab', serif;
	font-size:small;
	margin:7px;
}

A:link {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

A:visited {
	text-decoration: none;
	color: rgba(0, 0, 0, 1.0);
}
	
A:active {
	text-decoration: none;
	color: rgba(0,0,0,1.0);
}

A:hover {
	text-decoration: none;
	color: rgb(237, 41, 69);
	border-bottom:1px ;
	border-color: rgba(245, 246, 247, 1.0);
}
